################################# DEFAULT #####################################
[core]
    autocrlf = false
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[fetch]
    prune = true
[pull]
    rebase = true
[push]
    default = current
    useForceIfIncludes = true
[rebase]
    autoSquash = true
    autoStash = false
[user]
    useConfigOnly = true
[difftool]
    prompt = false
    keepBackup = false
    trustExitCode = false
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
############################## END OF DEFAULT #################################
