##################################### DEFAULT #####################################
[core]
	editor = nano
	autocrlf = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[push]
	default = matching
[rebase]
	autoSquash = true
	autoStash = false
[pull]
	rebase = false
[fetch]
	prune = false
[diff]
	tool = kdiff3
	guitool = kdiff3
[merge]
	tool = kdiff3
	guitool = kdiff3

############## WINDOWS SPECIFIC #########################
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	cmd = \"C:/Program Files/KDiff3/kdiff3.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	cmd = \"C:/Program Files/KDiff3/kdiff3.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
#########################################################

##################################### END OF DEFAULT ##############################